


* {
  font-family: Arial, Helvetica, sans-serif;
  color: #D9D9D9;
  
}





/*--------------------------------------------Colors*/
h1 {

  color: #D9D9D9;


}

h1 {
  text-align: center;
}

h2 {
  color: #D9D9D9;
  ;
}

/*--------------------------------------------Hero Image*/


.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/customers4.jpg');
  height: 300px;
  background-position: center;
  background-size: cover;
  position: relative;
  margin: 0px;
  
}

.hero-text {
  background-color: rgb(0,0,0);
  background-color:rgb(0,0,0, 0.4);
  color: #A30B37;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 60%;
  padding: 20px;
  text-align: center;
}





/*--------------------------------------------Description*/

.card img {
  max-height: 350px;
  border-radius: 5px;
  margin-right: 9px;
  border: 3px solid rgba(0, 0, 0, 0);
  border-radius: 10px;
  
}

.text-box p {
  font-size: 24px;

}


/* carousel */
.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
  width: 100%;


}



.carousel-indicators {
  background-color: rgba(0, 0, 0, 0);
}


/*--------------------------------------------footer*/

footer {
 
  padding-top: 10px;
  min-height: 120px;
  margin: 0;
}

.social-links {
  padding-top: 15px;
  padding-bottom: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.social-links li a i {
  width: 32px;
  height: 32px;
  padding: 12px 0;
  font-size: 13px;
  line-height: 7px;
  text-align: center;
  color: #fafafa;
  background: #8f8f8f;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
  background: #A30B37;
}

#footer-details {
  padding: 20px;
}

/*----------- meet the team * W3 Schools--------/
/* Three columns side by side */
.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
  color: #555;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

/* Add some shadows to create a card effect */
.card {
  color: #555;

}
/* Some left and right padding inside the container */
.container-meettheteam{
  padding: 0 16px;
  color: #555;
}

.meettheteam img {
  border: 3px solid rgba(0, 0, 0, 0);
  border-radius: 10px;
  width: 50%
}


.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: rgb(250, 248, 248);
  background-color:#8f8f8f;;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #A30B37;
}


/*----------- meet the team images*/

.meet-the-team img {
  border: 3px solid rgba(0, 0, 0, 0);
  border-radius: 10px;
  
}


 /*----------- address*/
address {
  padding: 10px;
}


/* Map */

.google-map {
  
  padding-bottom: 50%;
  position: relative;

}

.google-map iframe {
  height: 100%;
  width: 100%;
  padding: 10px;
  top: 10px;
  position: absolute;
  

}

/* Contact Form ---W3 Schools */
.contactform {
  box-sizing: border-box;
  border: 10px;
  padding: 16px;
} 

/* Style inputs for contact form */
input[type=text],
select,
textarea {
  background-color: #D9D9D9;
  width: 100%;
  padding: 10px;
  border: 10px solid rgba(0, 0, 0, 0);
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color:#8f8f8f;;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  color: #D9D9D9;
  background-color: #A30B37;

}

/* Style the container/contact section */
.container-contactform {
  border-radius: 5px;
  padding: 10px;
  top: 30px;
  color: #D9D9D9;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
  color: #D9D9D9;
}


/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {

  .column,
  input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}



.price-list div div div {
  padding: 10px;
}


/*-----booking form bootstrap card button link W3Schools----*/


.card-group {
  padding: 10px;
}

.card-dark {
  padding: 10px;
}

.card-dark img {
  border: 3px solid rgba(0, 0, 0, 0);
  border-radius: 10px;
  width: 50%
}

.card-dark a:link, a:visited {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: rgb(250, 248, 248);
  background-color:#8f8f8f;;
  text-align: center;
  cursor: pointer;
  
}

.card-dark a:hover, a:active {
  background-color: #A30B37;
}